@import "./_variables.scss";

.awssld__wrapper {
  height: calc(100vh - #{$header-hight} - 3rem);
}

.slider-block {
  height: 100%;
  width: 100%;
  display: flex;
  .bg-image {
    height: 100%;
    width: 100%;
  }
}
